@model IEnumerable<ApplicationCore.Models.MovieCardModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.livechart.me/rankings/anime">Top Rated Anime</a>.</p>
    <div class="movie-list">
        @foreach (var movie in Model)
        {
            <partial name="_MovieCard" model="movie" />
        }
    </div>
</div>