html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.movie-poster {
  width: 180px;
  height: auto;
  margin-bottom: 10px;
}

.movie-title {
    margin-top: 0;
    font-size: 1.2em;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bg-custom {
    background-color: #333940 !important;
}

.card {
    border-radius: 15px;
    border: none;
}

.form-control {
    border-radius: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }

body {
    background-color: #f8f9fa;
}

